<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-osc-livepreview" version="0.1.0">
  <name>OSC Live Preview</name>
  <description>Cordova plugin for showing live preview from cameras implementing the Open Spherical Camera API (e.g. Ricoh THETA).</description>
  <author>Bertalan Radostyan</author>
  <keywords>cordova,osc,live,preview,ricoh,theta</keywords>
  <js-module src="www/livepreview.js" name="LivePreview">
    <clobbers target="LivePreview"/>
  </js-module>
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="LivePreview">
        <param name="android-package" value="com.radostyan.cordova.livepreview.LivePreview"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET"/>
    </config-file>

    <source-file src="src/android/LivePreview.java" target-dir="src/com/radostyan/cordova/livepreview"/>
    <source-file src="src/android/MJpegInputStream.java" target-dir="src/com/radostyan/cordova/livepreview"/>
  </platform>
</plugin>